/* Estilos globales */
body {
    font-family: "Playwrite GB J Guides", cursive;
    font-weight: 400;
    font-style: normal;
    color: #333; /* Se hereda por defecto */
    line-height: 1.6;
}

/* Herencia explícita */
header {
    background-color: #f4f4f4;
    padding: 1em;
    text-align: center;
}

header h1 {
    font-size: 2.5rem; /* Definido explícitamente */
    color: #1a11c2; /* Modificamos la herencia */
}

/* Estilos para secciones */
section {
    margin: 1.5em 0;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #fafafa;
}

.herencia {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section h2 {
    font-size: 1.8rem;
    color: #444; /* No se hereda */
}

section p {
    margin: 0.5em 0;
    /* Hereda font-family, color y line-height del body */
}

.subrayado {
    background-color: yellow;
    font-weight: bold; /* No se hereda */
}

#especial{
    color: #f00;
}

/* Forzar herencia */
div p {
    color: inherit; /* Hereda el color del padre, en lugar del valor predeterminado */
    font-size: inherit; /* Forzamos la herencia del tamaño */
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff; /* Sobrescribe el color heredado */
    padding: 1em 0;
}
